<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Cocktail King</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar fixed-top">
      <%= link_to cocktails_path do %>
        <i class="fas fa-glass-martini-alt"></i>
        <div class="crown">
          <i class="fas fa-crown"></i>
        </div>
      <% end %>
      <%= link_to new_cocktail_path do %>
        <button class="btn btn-light my-6 my-sm-0" type="submit">Add A New Cocktail</button>
      <% end %>
    </nav>
 

    <%= yield %>

    
  </body>
</html>